<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <title>にせほボタン</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">    
      <a class="brand" href="/">
        にせほボタン
      </a>
    </div>
  </div> 
  <div class="container">
    <div class="row">
      <div class="span8 offset1">
        <div class="page-header">
          <%= yield %>
          </div>
      </div>
      <div class="span3">

<div class="page-header">
    <h2>にせほボタンとは</h2>
  </div>
  <table style="width:194px;">
          <img src="https://lh4.googleusercontent.com/-hqECRbX_YEQ/T6Okyu-7NkE/AAAAAAAAACE/CQHBM7I6Ubk/s160-c/May42012.jpg" width="160" height="160" style="margin:1px 0 0 4px;">
          
</table>
  ボタンを押して、にせほーやロックスター・エナジードリンクなうとツイートできる、極上のライフハックツールです。タイプする時間を削減し、タイプミスも減らすことができます。このサービスの作者は<%= link_to '@katryo', 'https://twitter.com/#!/katryo', :target => '_blank' %>です。<%= link_to '@nisehorn', 'https://twitter.com/#!/nisehorn', :target => '_blank' %>の作者である<%= link_to '@halhorn', 'https://twitter.com/#!/halhorn', :target => '_blank' %>さんではないのです。にせほ画像の使用許可など、はるほるんさんには協力していただいてます。<br><br>

         <div class="page-header">
    <h2>そもそもにせほとは</h2>
  </div>
  自己成長型人工知能ペンギン形態ロボットにせほるんこと<%= link_to '@nisehorn', 'https://twitter.com/#!/nisehorn', :target => '_blank' %>のことです。<%= link_to 'こちらのPukiwiki', 'http://halmidi.com/doc/nisehorn/', :target => '_blank' %>に詳しい情報が載っています。

  <br>そういえば、<%= link_to 'ニセ折田先生像になったこと', 'https://sites.google.com/site/freedomorita/niseho', :target => '_blank' %>もありましたね


          <div class="page-header">
    <h2>利用規約・注意事項</h2>
  </div>
  にせほボタンを利用したことによりあなたは損害・不利益を被る可能性がありますが、その責任を<%= link_to '@katryo', 'https://twitter.com/#!/katryo', :target => '_blank' %>は一切負いません。

  <br>
  <br>
  認証していない状態でトップページ以外のページを開くと、エラーとなります。トップページで認証してください。
   <br>
   <br>
   連続して同じボタンを押すと、エラーとなります。Twitterが連続して同じツイートをすることを許可しないためです。
  <br>
    <br>
  にせほボタンとあなたのTwitterアカウントのOAuth認証を解除したくなったときは、
  <%= link_to 'Twitterのアプリケーション認証設定ページ', 'https://twitter.com/settings/applications', :target => '_blank' %>で、にせほボタンの認証を解除してください。
   <br>
   <br>
   にせほボタンのソースコードはgithubに置いてあります。これです。
   <%= link_to 'https://github.com/katryo/oauthtest', 'https://github.com/katryo/oauthtest', :target => '_blank' %>
   <br>
   自由に見てください。

          <div class="page-header">
    <h2>個人的宣伝</h2>
  </div>
  <%= link_to '@katryo', 'https://twitter.com/#!/katryo', :target => '_blank' %>が友人たちと作った同人ノベルゲーム<%= link_to '「アナテマ・フィジクス」', 'http://easternretroschool.web.fc2.com/apindex.html', :target => '_blank' %>が<%= link_to 'こちらで', 'http://www.melonbooks.com/index.php?main_page=product_info&products_id=IT0000140064', :target => '_blank' %>無料公開されています。もうすぐiOSでも公開予定です。作曲の吟こと  <%= link_to '@clavinord', 'https://twitter.com/#!/clavinord', :target => '_blank' %>が作ったオリジナルボーカロイド曲は<%= link_to 'こちらです', 'http://www.youtube.com/watch?v=sJRvnAJ7PO0&feature=plcp', :target => '_blank' %>。
    </div>
    </div>
  </div>
</div>
</body>
</html>
